.searchbar {
    width: 35svw;
    height: 5svh;
    border-radius: 10px;
    border: solid black 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.input {
    border: 0;
    width: 30svw;
    height: 5svh;
    padding: 0;
    background-color: transparent;
	border: none;
	border-radius: 0;
	outline: none;
    font-size: 20px;
}

.button {
    background-color: transparent;
	border: none;
	border-radius: 0;
	outline: none;
}

.button:hover {
    cursor: pointer;
}

@media (min-width: 0px) and (max-width: 280px) {
    .searchbar {
        width: 60svw;
    }
}

@media (min-width: 290px) and (max-width: 375px) {
    .searchbar {
        width: 50svw;
    }
}

@media (min-width: 376px) and (max-width: 430px) {
    .searchbar {
        width: 50svw;
    }
}

@media (min-width: 431px) and (max-width: 540px) {
    .searchbar {
        width: 50svw;
    }
}

@media (min-width: 550px) and (max-width: 1024px) {
    .searchbar {
        width: 50svw;
    }
}

@media (min-width: 550px) and (max-width: 1024px) and (height: 600px) {
    .searchbar {
        width: 50svw;
    }
}