.mainCard {
    width: 40svw;
    height: 74svh;
    border-radius: 20px;
    margin: auto;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: transparent;
    color: rgb(109, 104, 117);
}

.cardTop {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.weatherState {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4svw;
}

.leftInfo {
    text-align: start;
}

.cardTop p:first-child {
    font-size: 100px;
}

.leftInfo h3 {
    font-size: 50px;
}

.leftInfo h4 {
    font-size: 20px;
}

.leftInfo img {
    margin: 10px 0px 5px 0px;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px;
    border-radius: 10px;
} 

.rightInfo {
    box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px;
    border-radius: 10px;
    padding: 1em;
}
.cardButtom {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.forecast {
    width: 20%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.miniForecast {
    width: 15%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.forecastCard {
    width: 100%;
    height: 85%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px;
    display: flex;
    flex-direction: column;
}

.mainCard hr {
    border:  1px solid rgba(0, 0, 0, 0.2);
    width: 65%;
    margin: auto;
}

.button {
    background-color: transparent;
	border: none;
	border-radius: 0;
	outline: none;
    position: absolute;
    bottom: 2%;
    left: 1%;
}

.button:hover {
    cursor: pointer;
}

@media (min-width: 0px) and (max-width: 280px) {
    .mainCard {
        width: 85svw;
        height: 70svh;
        font-size: 12px;
    }
    .cardTop p:first-child {
        font-size: 30px;
    }
    
    .leftInfo h3 {
        font-size: 30px;
    }
    
    .leftInfo h4 {
        font-size: 15px;
    }
    .rightInfo {
        margin-top: 8svh;
    }
    .forecastCard {
        height: 80%;
    }
    .miniForecast {
        height: 40%;
    }
    .miniForecast p {
        font-size: 8px;
    }
    .forecast {
        height: 40%;
    }
}

@media (min-width: 290px) and (max-width: 375px) {
    .mainCard {
        width: 80svw;
        height: 65svh;
        font-size: 14px;
    }
    .cardTop p:first-child {
        font-size: 40px;
    }
    
    .leftInfo h3 {
        font-size: 30px;
    }
    
    .leftInfo h4 {
        font-size: 15px;
    }
    .rightInfo {
        margin-top: 5svh;
    }
    .forecastCard {
        height: 80%;
    }
    .miniForecast {
        height: 40%;
    }
    .miniForecast p {
        font-size: 10px;
    }
    .forecast {
        height: 50%;
    }
}

@media (min-width: 376px) and (max-width: 430px) {
    .mainCard {
        width: 84svw;
        height: 60svh;
        font-size: 14px;
    }
    .cardTop p:first-child {
        font-size: 40px;
    }
    
    .leftInfo h3 {
        font-size: 30px;
    }
    
    .leftInfo h4 {
        font-size: 15px;
    }
    .rightInfo {
        margin-top: 4svh;
    }
    .forecastCard {
        height: 80%;
    }
    .miniForecast {
        height: 37%;
    }
    .miniForecast p {
        font-size: 12px;
    }
    .forecast {
        height: 50%;
    }
}

@media (min-width: 431px) and (max-width: 540px) {
    .mainCard {
        width: 84svw;
        height: 70svh;
        font-size: 20px;
    }
    .cardTop p:first-child {
        font-size: 50px;
    }
    
    .leftInfo h3 {
        font-size: 40px;
    }
    
    .leftInfo h4 {
        font-size: 20px;
    }
    .rightInfo {
        margin-top: 4svh;
    }
    .forecastCard {
        height: 80%;
    }
    .miniForecast {
        height: 48%;
    }
    .miniForecast p {
        font-size: 14px;
    }
    .forecast {
        height: 65%;
    }
}

@media (min-width: 550px) and (max-width: 1024px) {
    .mainCard {
        width: 84svw;
        height: 70svh;
        font-size: 30px;
    }
    .cardTop p:first-child {
        font-size: 60px;
    }
    
    .leftInfo h3 {
        font-size: 50px;
    }
    
    .leftInfo h4 {
        font-size: 25px;
    }
    .rightInfo {
        margin-top: 4svh;
    }
    .forecastCard {
        height: 80%;
    }
    .miniForecast {
        height: 48%;
    }
    .miniForecast p {
        font-size: 18px;
    }
    .forecast {
        height: 65%;
    }
}

@media (min-width: 550px) and (max-width: 1024px) and (height: 600px) {
    .mainCard {
        width: 84svw;
        height: 75svh;
        font-size: 20px;
    }
    .cardTop p:first-child {
        font-size: 50px;
    }
    
    .leftInfo h3 {
        font-size: 40px;
    }
    
    .leftInfo h4 {
        font-size: 20px;
    }
    .rightInfo {
        margin-top: 4svh;
    }
    .forecastCard {
        height: 85%;
        justify-content: center;
        align-items: center;
    }
    .miniForecast {
        height: 62%;
    }
    .forecastCard img {
        width: 100px;
    }
    .forecast {
        height: 75%;
    }
}